@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection{
    color: #fff;
    background: #007bff;
}
::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}
.body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 120vh; 
    margin: 0; 
    padding: 0; 
}
.Wrapper{
    width: 100%; 
    color: #000000;
    text-align: center;
    position: relative;
    border: 2px solid #5f98ae;
    padding: 20px; 
    box-sizing: border-box; 
    margin-top: 10px;
}
.Wrapper .title{
    background: #007bff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #006fe6;
    border-radius: 5px 5px 0 0;
}
.Wrapper .forms{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
.Wrapper .forms .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.Wrapper .forms .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.Wrapper .forms .inbox .icon{
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: #007bff;
}
.Wrapper .forms .inbox .msg-header{
    max-width: 53%;
    margin-left: 10px;
}
.Wrapper .forms .inbox .msg-header p{
    color: #fff;
    background: #007bff;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
    word-break: break-all;
}
.Wrapper .forms .user-inbox .msg-header p{
    color: #333;
    background: #efefef;
}
.Wrapper .typing-field{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: #efefef;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}
.Wrapper .typing-field .input-data{
    height: 40px;
    width: 335px;
    position: relative;
}
.Wrapper .typing-field .input-data input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
}
.typing-field .input-data input:focus{
    border-color: rgba(0,123,255,0.8);
}
.input-data input::placeholder{
    color: #999999;
    transition: all 0.3s ease;
}
.input-data input:focus::placeholder{
    color: #bfbfbf;
}
.Wrapper .typing-field .input-data button{
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: #007bff;
    border: 1px solid #007bff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.Wrapper .typing-field .input-data input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}
.typing-field .input-data button:hover{
    background: #006fef;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
.logo img{
    margin-top: 5%;
    margin-left: 5%;
}
.logo {
    width: 400px; 
    height: auto; 
    margin-right: 1000px;
    margin-top: -70px;
}
.header{
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 10px 100px;
    background: #1f2c67;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.title{
    flex: 1; 
}
.header a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    font-size: 50px;
}
.nav-container{
    margin-right: 30px;
    margin-top: 30px;
}
.navbar a {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    margin-right: 30px;
    transition: color 0.3s; 
}
.navbar{
    display: flex;
    margin-right: 50px; 
}
.navbar a:hover {
    color: crimson; 
}

/* Footer */
.footer{
    position:fixed;
    bottom:0px;
    width:100%;
    height: auto;
    background-color: #2C2E37;
    color: white;
    margin: 40px 0 0 0;
    margin-top: 10px;
    font-size: 0.8em;
    padding:20px 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.45 ease-in-out;
}
ul li a :hover{
    color: #ff7200;
}

/* Content */
.content {
    width: 100%; 
    color: #000000;
    text-align: center;
    position: relative;
    border: 2px solid #5f98ae;
    padding: 20px; 
    box-sizing: border-box; 
    margin-top: 10px;
}
h2{
    font-size: 30px;
    margin-bottom: 0px; 
}
.content h2{
    margin: 0px;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #000;
    color: red;
}
.image-popup{
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
}
.image-popup .con{
    display: flex;
    flex-flow: column;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 5px;
}
.image-popup .con h3{
    margin: 0;
    font-size: 18px;
}
.image-popup .con .edit, .image-popup .con .trash{
    display: inline-flex;
    justify-content: center;
    align-self: flex-end;
    width: 40px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 5px;
    margin-top: 10px;
}
.image-popup .con .trash{
    background-color: #b7b7b7;
}
.image-popup .con .trash:hover{
    background-color: #a33131;
}
.image-popup .con .edit{
    background-color: #37afB7;
}
.image-popup .con .edit:hover{
    background-color: #319c31;
}
.home .upload-image{
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 15px;
    margin: 15px 0;
}
.home .upload-image:hover{
    background-color: #32a367;
}
.home .images a{
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
    margin: 0 20px 20px 0;
}
.home .images a:hover span{
    opacity: 1;
    transition: opacity 1s;
}
.home .images span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    transform: opacity 1s;
}
.upload form{
    padding: 15px 0;
    display: flex;
    flex-flow: column;
    width: 400px;
}
.upload form label{
    display: inline-flex;
    width: 100%;
    padding: 10px 0;
    margin-right: 25px;
}
.upload form input, .upload form textarea{
    padding: 10px;
    width: 100%;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}
.upload form textarea{
    height: 200px;
}
.upload form input[type="submit"]{
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    margin-top: 15px;
    border-radius: 5px;
}
.upload form input[type="submit"]:hover{
    background-color: #32a367;
}
.delete .yesno{
    display: flex;
}
.delete .yesno a{
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
    border-radius: 5px;
}
.delete .yesno a:hover{
    background-color: #32a367;
}
p{
    font-size: 16px; 
    line-height: 3;
    margin-bottom: 100px; 
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 45 ease;
}
.content span{
    color: crimson;
    font-size: 60px;
}
.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cn:hover{
    background-color: crimson;
}