/* Universal reset and font styles */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #f4f4f9; 
    color: #333;
}
.page-container {
    min-height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin: 0 auto;
}

/* Page title */
.page-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #333;
}

/* Filter form styles */
#filter-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    max-width: 1500px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.filters-left, .filters-right, .filters-search {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 30%; 
    padding: 20px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
}
.filters-left input[type="number"], 
.filters-right input[type="checkbox"], 
.filters-search input[type="text"], 
.filters-left select {
    padding: 12px;
    border-radius: 6px; 
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s ease;
    width: 100%; 
    margin-top: 5px; 
}
.filters-right {
    display: flex;
    flex-direction: column;  
    gap: 10px;  
    align-items: flex-start; 
    padding-left: 10px; 
}
.checkbox-group input[type="checkbox"] {
    margin-right: 0; 
    width: auto;  
}
.filters-right,
.filters-left label, 
.filters-right label, 
.filters-search label {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin-bottom: 8px; 
}

.filters-right input[type="checkbox"] {
    margin-right: 30px;
    width: 100%; 
    vertical-align: middle; 
    padding: 10px;
    
}
@media (max-width: 1024px) {
    #filter-form {
        flex-direction: column;
        gap: 20px;
    }

    .filters-left, .filters-right, .filters-search {
        width: 100%; 
    }

    .filters-left, .filters-right {
        margin-left: 0;
        margin-right: 0;
    }
}
.filters-left, .filters-right, .filters-search {
    gap: 20px;
    width: 100%; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.filters-search {
    margin-bottom: 0; 
}
#apply-filters {
    padding: 12px 24px;
    background-color: #79B7AC;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 100px; 
    margin-left: 20px; /
}
#apply-filters:hover {
    background-color: #79B7AC;
}
.filter-group {
    display: flex;
    flex-direction: row; 
    gap: 16px; 
    align-items: center;
}
.filter-form {
    display: flex;
    flex-direction: column; 
    gap: 16px;
    width: 300px; 
    position: relative; 
}
.filter-group label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.filter-form select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.filter-form select:focus {
    border-color: #79B7AC;
    outline: none;
}
.filter-btn {
    padding: 12px 24px;
    background-color: #79B7AC;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    margin-top: auto; 
}
.filter-btn:hover {
    background-color: #5c9d88; 
}




/* Table styles */
.table-container {
    background-color: #fff;
    width: 90%;
    max-width: 1600px; 
    padding: 1.25rem;
    border-radius: 8px;
    margin: 2rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto; 
}
.inventory-list {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.inventory-list thead {
    background-color: #f5f5f5;
}
.inventory-list th, .inventory-list td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.inventory-list th {
    font-weight: bold;
    background-color: #f5f5f5;
    color: #333;
}
.inventory-list tbody tr {
    background-color: #fff;
}
.inventory-list tbody tr:hover {
    background-color: #f9f9f9;
}
.inventory-list tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Button container for stock update */
.button-container {
    display: flex;
    gap: 10px;
}

/* Update button styles */
.update-btn {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.update-btn[data-action='decrease'] {
    background-color: #dc3545;
}
.update-btn[data-action='decrease']:hover {
    background-color: #c82333;
}
.update-btn[data-action='increase'] {
    background-color: #218838;
}
.update-btn[data-action='increase']:hover {
    background-color: #218838;
}

/* Quantity cell styling */
.quantity {
    text-align: center;
}

@media (max-width: 768px) {
    #filter-form {
        flex-direction: column;
        gap: 20px;
    }
    .filters-left, .filters-right, .filters-search {
        width: 100%;
    }
    .filters-left {
        align-items: center;
    }
    .filters-right {
        align-items: center;
    }
    .filters-search {
        align-items: center;
    }
}

/* manage user btn */
.manage-btn {
    background-color: #2a6599;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.manage-btn:hover {
    background-color: #223e57;
}

/* Create Order Form */
.create-order-form {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; 
    margin-left: auto;  
    margin-right: auto; 
}
.create-order-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.create-order-form label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}
.create-order-form select, 
.create-order-form input[type="date"], 
.create-order-form input[type="time"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.create-order-form select:focus,
.create-order-form input[type="date"]:focus,
.create-order-form input[type="time"]:focus {
    outline: none;
    border-color: #4c9781;
}
.create-order-form button {
    padding: 10px 15px;
    background-color: #529784;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    margin: 0 auto; 
}
.create-order-form button:hover {
    background-color: #385b51;
}

/* Add Part Form */
.add-part-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.add-part-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.add-part-form input,
.add-part-form select,
.add-part-form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.add-part-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.add-part-form button:hover {
    background-color: #45a049;
}

/* Remove from Order button styles */
.remove-btn {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    background-color: #dc3545; 
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.remove-btn:hover {
    background-color: #c82333; 
}

/* Button container for Add Part */
#add-part-button-container {
    text-align: center;
    margin: 20px 0;
}

/* Add Part Button */
.add-part-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    width: 250px;
    height:50x;
    transition: background-color 0.3s ease;
}
.add-part-btn:hover {
    background-color: #218838;
}

/* Refresh Button for price on Order Page */
.refresh-btn{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    background-color: #3a71e6; 
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.refresh-btn:hover {
    background-color: #1e54ca; 
}

