/* User Add Form */
.user-form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 10px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.user-form h3 {
    width: 100%;
    text-align: center;
    color: #79B7AC;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    gap: 20px;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;  
    box-sizing: border-box;  
}

/* Submit Button */
.submit-btn {
    display: block;
    width: 100%;
    padding: 12px 15px;
    background-color: #79B7AC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
.submit-btn:hover {
    background-color: #34534d;
    color: #ffffff;  
}

/* Error alert */
.alert {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .form-columns {
        flex-direction: column;
        gap: 20px;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .submit-btn {
        width: 100%;
    }
}